.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
}

.wrapper {
  width: 100%;
  max-width: max-content;
  overflow: hidden;
}

.text {
  font-size: 2.5vw;
  transform: translateY(100%);
  color: #FFFFFF;
}

.text.slideDown {
  animation: slide-down 850ms forwards;
}

.text.slideUp {
  animation: slide-up 850ms forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}