.container {
  width: 100%;
  margin-bottom: 8em;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4em;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-family: 'PT Serif', serif;
  color: #FFFFFF;
  margin-bottom: 2em;
}

.reviewContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.content {
  width: 100%;
  max-width: calc(45% - 2em);
  background: transparent;
  transition: all 1250ms;
  color: #FFFFFF;
}

.quoteUp,
.quoteDown {
  width: 1em;
}

.quoteUp {
  position: absolute;
  transform: translate(-100%, -100%);
}

.quoteDown {
  position: relative;
  bottom: -1em;
}

.review {
  font-size: 1.4rem;
  line-height: 2em;
  margin-bottom: 1em;
}

.reviewer {
  font-size: 2rem;
  font-family: 'PT Serif', serif;
}

.reviewContainer:nth-child(2) .content {
  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  .container {
    margin-bottom: 4em;
  }

  .content {
    max-width: calc(100% - 4em);
  }
}

@media screen and (max-width: 520px) {
  .container {
    margin-bottom: 2em;
  }

  .content {
    transition: all 1850ms;
  }

  .review {
    font-size: 1.2rem;
    line-height: 2.4em;
  }

  .reviewer {
    font-size: 1.4rem;
  }

  .quoteUp,
  .quoteDown {
    width: 0.8em;
  }

  .title {
    font-size: 1.6rem;
  }
}