.container {
  width: auto;
  overflow: hidden;
}

.text {
  font-size: 1.2rem;
  line-height: 2.4em;
  transform: translateY(100%);
  color: #FFFFFF;
}

.text.hold {
  transform: translateY(0);
}

.text.slideDown {
  animation: slide-down 1850ms forwards;
}

.text.slideUp {
  animation: slide-up 1850ms forwards;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}