.container {
  width: auto;
  overflow: hidden;
}

.text {
  font-size: 1rem;
  line-height: 2em;
  transform: translateY(100%);
  color: #FFFFFF;
}

.text.hold {
  transform: translateY(0);
}

.text.hide {
  animation: slide-out 1850ms forwards;
}

.text.slide {
  animation: slide-in 1850ms forwards;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}