.container {
  padding: 0 1em;
}

.ext {
  width: 100%;
  background: goldenrod;
  height: 100vh;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16em;
}

.content {
  background: white;
  margin: 0 auto;
  width: 100%;
  max-width: 64em;
  height: 28em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  background: rgb(132, 38, 221);
  border-radius: 2em;
  border: 2px solid rgb(119, 32, 200);
  transition: all 850ms;
}

.content div {
  font-size: 4rem;
}