.container {
  border: 1px solid red;
}

.wrapper {
  width: max-content;
  margin: 0 auto;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.textWrapper {
  width: 3em;
  height: auto;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.text {
  overflow: hidden;
  height: 1em;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0;
  transition: all 200ms 100ms;
}

.text.grow {
  height: auto;
  margin-bottom: 1em;
}

.text span {
  border: 1px solid red;
  font-size: 0.6rem;
  font-weight: 900;
}

.tab {
  border: 1px solid red;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  background: gray;
}

.grow {
  animation-fill-mode: forwards;
  animation-name: grow-shrink;
}

.grow._1 {
  animation-delay: 50;
  animation-duration: 1250ms;
}

.grow._2 {
  animation-delay: 100ms;
  animation-duration: 1300ms;
}

.grow._3 {
  animation-delay: 150ms;
  animation-duration: 1350ms;
}

.grow._4 {
  animation-delay: 200ms;
  animation-duration: 1400ms;
}

@keyframes grow-shrink {
  0% {
    height: 100%;
  }

  20%,
  30% {
    height: 45%;
  }

  50% {
    height: 55%;
  }

  100% {
    height: 1em;
  }
}